/* VARIABLES */

:root {
	--color-primary: #36426e;
	--color-secondary: #a790a8;
	--color-matte-black: rgba(23, 23, 23, 0.85);
	--color-matte-black-dark: rgba(23, 23, 23, 0.9);

	--font-size-xl: 7.4rem;
	--font-size-lg: 7.2rem;
	--font-size-md: 3rem;
	--font-size-sm: 2.4rem;

	--height-header: 120px;
	--height-footer: 180px;
	--body-padding-lr: 20rem;
}

/* BASE */

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100%;
}

@media only screen and (min-width: 112.5em) {
	body {
		padding: 0 var(--body-padding-lr);
	}
}

main {
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 112.5em) {
	html {
		font-size: 68.75%;
	}
}

@media only screen and (max-width: 57.25em) {
	html {
		font-size: 56.25%;
	}
}

@media only screen and (max-width: 38.37em) {
	html {
		font-size: 50%;
	}
}

h1,
h2 {
	font-size: var(--font-size-xl);
}

/* COMPONENTS */

.heading {
	letter-spacing: -0.02em;
	line-height: 8.1rem;
}

.heading--sub.underline::after {
	content: "";
	display: block;
	height: 5px;
	width: 0;
	margin-top: -1.5rem;
	background-color: var(--color-matte-black);
	animation: underline 1.5s ease-out 0.5s 1 forwards;
}

.socials {
	display: flex;
}

.socials__github {
	background-image: url("/assets/github-logo.png");
	background-size: cover;
}

.socials__linkedin {
	background-image: url("/assets/linkedin-logo.png");
	background-size: cover;
}

.socials__medium {
	background-image: url("/assets/medium-logo.png");
	background-size: cover;
}

.btn,
.btn:visited {
	width: 21.8rem;
	height: 6.2rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: var(--color-secondary);
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in;
}

.btn:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	transform: translateY(-2px);
}

.btn:active {
	box-shadow: none;
	transform: translateY(0);
}

/* HEADER */

.header {
	height: var(--height-header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8rem;
	text-decoration: none;
	position: fixed;
	z-index: 4;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 112.5em) {
	.header {
		width: 100vw;
		position: fixed;
		right: 0;
		padding: 0 21rem 0 22rem;
	}
}

@media only screen and (max-width: 24.12em) {
	.header {
		width: 100%;
		padding: 0;
	}
}

.logo {
	text-decoration: inherit;
	font-size: var(--font-size-md);
	font-weight: bold;
	color: var(--color-primary);
	letter-spacing: -0.02em;
}

@media only screen and (max-width: 38.37em) {
	.logo {
		display: none;
	}

	.header {
		justify-content: center;
	}
}

.nav__link {
	text-decoration: inherit;
	font-size: var(--font-size-sm);
	font-weight: 500;
	color: var(--color-matte-black);
}

.nav__link:not(:last-child) {
	margin-right: 3rem;
}

/* LAYOUT */

.container {
	display: grid;
	grid-template-columns: [full-start] 8rem repeat(12, [col-start] 1fr [col-end]) 8rem [full-end];
	column-gap: 3rem;
}

@media only screen and (min-width: 112.5em) {
	.container {
		height: calc(100% + var(--height-header));
	}
}

/* HERO */

.hero {
	grid-column: full-start / full-end;
	min-height: calc(100vh + var(--height-header));

	position: relative;
	display: grid;
	grid-template-columns: [full-start] 8rem repeat(12, [col-start] 1fr [col-end]) 8rem [full-end];
	column-gap: 3rem;
}

.hero__image {
	width: 47vh;
	height: auto;
	position: absolute;
	bottom: 0;
	left: -2.6rem;
}

@media only screen and (min-width: 112.5em) {
	.hero__image {
		left: calc(-2.6rem - var(--body-padding-lr));
	}
}

@media only screen and (max-width: 67.75em) {
	.hero__image {
		width: 42vh;
		left: -4.6rem;
	}
}

@media only screen and (max-width: 45.37em) {
	.hero__image {
		width: 37vh;
		left: -3rem;
	}
}

@media only screen and (max-width: 45.37em) {
	.hero__image {
		width: 34vh;
		left: -3rem;
	}
}

.hero__heading {
	grid-column: col-start 7 / -1;
	margin-top: 17.9rem;
	height: fit-content;
}

@media only screen and (max-width: 76.87em) {
	.hero__heading {
		grid-column: col-start 6 / -1;
	}
}

@media only screen and (max-width: 67.75em) {
	.hero__heading {
		grid-column: col-start 5 / -1;
	}
}

@media only screen and (max-width: 51.62em) {
	.hero__heading {
		grid-column: col-start 4 / -1;
	}
}

@media only screen and (max-width: 45.37em) {
	.hero__heading {
		grid-column: col-start 1 / -1;
		width: fit-content;
		position: relative;
		margin-left: 1rem;
	}
}

@media only screen and (max-width: 38.37em) {
	.hero__heading {
		position: absolute;
		margin-top: 161px;
	}
}

@media only screen and (max-width: 33.75em) {
	.hero__heading {
		right: 16rem;
	}
}

@media only screen and (max-width: 29.18em) {
	.hero__heading {
		right: 17.5rem;
	}

	.hero__heading h1 {
		font-size: 5.4rem;
	}
}

.hero__heading--upper {
	color: var(--color-matte-black);
}

.hero__heading--lower {
	color: var(--color-primary);
}

.hero__heading--lower::before {
	content: "";
	display: block;
	animation: headingChange 12s linear 0.5s infinite;
}

@media only screen and (max-width: 45.37em) {
	.hero__heading--lower {
		position: absolute;
		right: 0;
	}
}

.socials--hero {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 8rem;
	margin-bottom: calc(4.3rem + var(--height-header));
}

@media only screen and (min-width: 112.5em) {
	.socials--hero {
		margin-right: 23rem;
	}
}

@media only screen and (max-width: 76.87em) {
	.socials--hero {
		margin-right: 16rem;
	}
}

@media only screen and (max-width: 29.18em) {
	.socials--hero {
		display: none;
	}
}

.socials--hero a {
	height: 5.6rem;
	width: 5.6rem;
}

.socials--hero a:not(:last-child) {
	margin-right: 1.6rem;
}

/* ABOUT */

.about {
	position: relative;
	min-height: calc(100vh + var(--height-header));
	z-index: 1;
	grid-column: full-start / full-end;
	background: linear-gradient(
		71.51deg,
		#a790a8 39.06%,
		rgba(54, 66, 110, 0.3) 100%
	);
}

@media only screen and (min-width: 112.5em) {
	.about {
		width: 100vw;
		margin-left: calc(-1 * var(--body-padding-lr));
	}
}

@media only screen and (max-width: 57.25em) {
	.about {
		min-height: 75vh;
		display: flex;
		align-items: center;
	}
}

.textbox {
	margin: 35.3rem 8rem 0 8rem;
	width: 75vw;
}

@media only screen and (max-width: 57.25em) {
	.textbox {
		margin: 0 8rem;
	}
}

@media only screen and (max-width: 29.18em) {
	.textbox {
		margin: 0;
		margin-left: 2rem;
		text-align: center;
		width: calc(100% - 16rem);
	}
}

@media only screen and (max-width: 22.06em) {
	.textbox {
		margin: 0;
		margin-left: 0;
		text-align: center;
		width: calc(100% - 17rem);
	}
}

.textbox__heading {
	position: relative;
	display: inline-block;
	color: var(--color-matte-black);
	margin-bottom: 2.2rem;
}

@media only screen and (max-width: 29.18em) {
	.textbox__heading {
		width: max-content;
		font-size: 6.2rem;
	}
}

.textbox__text {
	font-size: var(--font-size-sm);
	line-height: 3.4rem;
}

/* PROJECTS */

.projects {
	height: 100vh;
	text-align: center;
	grid-column: col-start 1 / col-end 12;
}

@media only screen and (min-width: 112.5em) {
	.projects {
		margin-left: calc(-1 * var(--body-padding-lr));
	}
}

@media only screen and (max-width: 76.87em) {
	.projects {
		width: 100vw;
		margin-left: -11rem;
	}
}

@media only screen and (max-width: 51.62em) {
	.projects {
		height: auto;
	}
}

.projects__heading {
	color: var(--color-matte-black);
	width: fit-content;
	display: inline-block;
	left: 50%;
	margin-top: 14rem;
	margin-bottom: 6rem;
}

@media only screen and (min-width: 112.5em) {
	.projects__heading {
		margin-bottom: 9rem;
	}
}

@media only screen and (max-height: 53.75em) {
	.projects__heading {
		font-size: 6.6rem;
		margin-top: 12rem;
	}
}

@media only screen and (max-width: 29.18em) {
	.projects__heading {
		font-size: 6rem;
	}
}

@media only screen and (max-width: 22.06em) {
	.projects__heading {
		font-size: 5rem;
	}
}

.projects__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	column-gap: 6rem;
	row-gap: 3rem;
}

@media only screen and (min-width: 112.5em) {
	.projects__container {
		row-gap: 8rem;
		column-gap: 0;
		padding: 0 24rem;
	}
}

@media only screen and (max-width: 76.87em) {
	.projects__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 2.58rem;
	}
}

.card {
	width: 35rem;
	height: 21.9rem;
	border-radius: 10px;
	margin-top: 1.5rem;

	position: relative;
	perspective: 1500rem;
}

.flip-card {
	position: absolute;
	left: 0.4rem;
	margin-top: -3.3rem;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	padding: 0.4rem 0.6rem;
	background-color: rgba(167, 144, 168, 0.6);
	color: black;
	font-weight: 500;
	border-radius: 6px;
}

.flip-card__image {
	height: 2rem;
	width: 2rem;
	margin-right: 0.5rem;
	margin-top: -0.1rem;
}

@media (hover: hover) {
	.flip-card {
		display: none;
	}
}

@media only screen and (max-width: 51.62em) {
	.card {
		width: 65vw;
		height: 40vw;
	}

	.card:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.card--1 {
	grid-column: 1 / 2;
}

.card--2 {
	grid-column: 2 / 3;
}

.card--3 {
	grid-column: 1 / 2;
}

.card--4 {
	grid-column: 2 / 3;
}

.card__side {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 21.9rem;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
	transition: all 0.8s ease;
}

@media only screen and (max-width: 51.62em) {
	.card__side {
		width: 65vw;
		height: 40vw;
	}
}

/* Front Of Card */

.card__side--front {
	width: 35rem;
	height: 21.9rem;
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 51.62em) {
	.card__side--front {
		width: 65vw;
		height: 40vw;
	}
}

.card__side--front-1 {
	background: url("/assets/updated-shopping-cart.jpg");
	background-size: cover;
}

.card__side--front-2 {
	background-image: url("/assets/profile-sync.png");
	background-size: cover;
}

.card__side--front-3 {
	background-image: url("/assets/007-clone.png");
	background-size: cover;
}

.card__side--front-4 {
	background-image: url("/assets/crypto-price.png");
	background-size: cover;
}

/* Flip Animations */

@media (hover: hover) {
	.card:hover .card__side--front {
		transform: rotateY(-180deg);
	}

	.card:hover .card__side--back {
		transform: rotateY(0deg);
	}
}

.flip-front {
	transform: rotateY(-180deg);
}
/* Back Of Card */

.card__side--back {
	transform: rotateY(180deg);
	z-index: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	color: #ffffff;
}

/* Flip Animation (For back of card. Needs to be under initial rotate state in the CSS code) */

.flip-back {
	transform: rotateY(0deg);
}

@media only screen and (max-width: 29.18em) {
	.card__side--back {
		padding: 1rem;
		padding-right: 1.4rem;
	}
}

.card__side--back-1 {
	background: linear-gradient(111.34deg, #3a3d40 0%, #808080 100%);
}

.card__side--back-1 .list {
	margin-right: -4rem;
}

.card__side--back-2 {
	background: linear-gradient(111.34deg, #2e0c87 0%, #7808d1 100%);
}

.card__side--back-3 {
	background: linear-gradient(111.34deg, #6e6b53 0%, #cdc7aa 100%);
}

.card__side--back-4 {
	background: linear-gradient(111.34deg, #2b2df5 0%, #2197fa 100%);
}

.card__side--back-4 .list {
	margin-right: -2rem;
}

.card__header {
	font-size: 1.8rem;
	text-transform: uppercase;
}

@media only screen and (max-width: 33.75em) {
	.card__header {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 29.18em) {
	.card__header {
		margin-bottom: 1.2rem;
	}
}

.list {
	display: flex;
}

.list__section-1 {
	margin-right: 2.2rem;
	text-align: start;
}

.list__section-2 {
	text-align: start;
}

.card__detail {
	font-size: 1.6rem;
}

@media only screen and (max-width: 33.75em) {
	.card__detail {
		font-size: 1.3rem;
	}
}

.card__detail::before {
	content: "\2022";
	margin-right: 0.8rem;
}

.card__detail:not(:last-child) {
	margin-bottom: 1.2rem;
}

@media only screen and (max-width: 29.18em) {
	.card__detail:not(:last-child) {
		margin-bottom: 0.4rem;
	}
}

.card__links {
	display: flex;
	margin-top: 1.8rem;
}

@media only screen and (max-width: 29.18em) {
	.card__links {
		margin-top: 1rem;
	}
}

.card__links a {
	display: block;
	height: 4rem;
	width: 4rem;
}

@media only screen and (max-width: 29.18em) {
	.card__links a {
		height: 3rem;
		width: 3rem;
	}
}

.card__link--site {
	background-image: url("/assets/website-icon.png");
	background-size: cover;
	margin-right: 3rem;
}

.card__link--github {
	background: url("/assets/github-icon.png");
	background-size: cover;
}

/* CONTACT */

.contact {
	grid-column: full-start / full-end;
	height: 85rem;
}

@media only screen and (max-width: 76.87em) {
	.contact {
		width: 100vw;
	}
}

@media only screen and (max-width: 38.37em) {
	.contact {
		height: 100rem;
	}
}

.contact__heading {
	color: var(--color-matte-black);
	margin: var(--height-header) 11rem 1rem 11rem;
}

@media only screen and (max-width: 38.37em) {
	.contact__heading {
		margin-right: 0;
		margin-left: 4rem;
		width: fit-content;
	}
}

@media only screen and (max-width: 29.18em) {
	.contact__heading {
		font-size: 6.5rem;
	}
}

@media only screen and (max-width: 24.12em) {
	.contact__heading {
		font-size: 5.6rem;
		margin-left: 2rem;
	}
}

.form {
	display: grid;
	grid-template-columns:
		[full-start] 8rem repeat(2, [col-start] 1fr [col-end])
		8rem [full-end];
	column-gap: 3rem;
	min-width: 26.4rem;
}

@media only screen and (max-width: 38.37em) {
	.form {
		display: flex;
		flex-direction: column;
		width: calc(100vw - 10rem);
		margin-left: 4rem;
	}
}

@media only screen and (max-width: 24.12em) {
	.form {
		margin-left: 2rem;
	}
}

@media only screen and (max-width: 22.06em) {
	.form {
		width: 34.4rem;
	}
}

.form__group {
	grid-column: col-start 1 / col-end 1;
	margin-bottom: 1.6rem;
}

.form__group--2 {
	grid-column: col-start 2 / col-end 2;
}

.form__group--3 {
	grid-column: col-start 1 / col-end 2;
}

.form__group--4 {
	grid-column: col-start 1 / col-end 2;
}

.form__label {
	font-size: 2rem;
	display: block;
	color: var(--color-primary);
	opacity: 0.9;
	margin-bottom: 0.8rem;
	margin-left: 5px;
}

.form__input {
	width: 100%;
	height: 6.2rem;
	border: 2px solid #b6b9ba;
	border-radius: 10px;
	outline: none;
	caret-color: var(--color-secondary);
	color: var(--color-matte-black);
	opacity: 0.7;
	font-size: 2.4rem;
	padding-left: 1.6rem;
}

.form__input:focus {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 15px rgba(167, 144, 168, 0.9) inset;
}

.form__input--description {
	height: 23.1rem;
	padding-top: 1.6rem;
}

.contact .form .btn {
	grid-column: col-start 1 / -1;
}

/* FOOTER */

.footer {
	height: var(--height-footer);
	border-top: 1px solid #e7eaec;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12rem 0 11rem;
}

@media only screen and (min-width: 112.5em) {
	.footer {
		width: 100vw;
		margin-left: calc(-1 * var(--body-padding-lr));
	}
}

@media only screen and (max-width: 45.37em) {
	.footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.socials--footer {
	width: fit-content;
}

@media only screen and (min-width: 112.5em) {
	.socials--footer {
		margin-left: 9rem;
	}
}

@media only screen and (max-width: 45.37em) {
	.socials--footer {
		margin-bottom: 2rem;
	}
}

.socials--footer a {
	height: 4.8rem;
	width: 4.8rem;
}

.socials--footer a:not(:last-child) {
	margin-right: 1.6rem;
}

.nav--footer {
	width: max-content;
}

@media only screen and (min-width: 112.5em) {
	.nav--footer {
		margin-right: 11rem;
	}
}

/* ANIMATIONS */

@keyframes underline {
	0% {
		width: 4px;
	}

	100% {
		width: 100%;
	}
}

@keyframes headingChange {
	0% {
		content: "Paul Munley";
	}
	5% {
		content: "Paul Munley";
		transform: none;
		opacity: 1;
	}
	10% {
		content: "Paul Munley";
		transform: translateY(8.1rem);
		opacity: 0;
	}
	15% {
		content: "A Developer";
		transform: translateY(-8.1rem);
		opacity: 0;
	}
	20% {
		content: "A Developer";
		transform: none;
		opacity: 1;
	}
	25% {
		content: "A Developer";
		transform: none;
		opacity: 1;
	}
	30% {
		content: "A Developer";
		transform: translateY(8.1rem);
		opacity: 0;
	}
	35% {
		content: "A Husband";
		transform: translateY(-8.1rem);
		opacity: 0;
	}
	40% {
		content: "A Husband";
		transform: none;
		opacity: 1;
	}
	45% {
		content: "A Husband";
		transform: none;
		opacity: 1;
	}
	50% {
		content: "A Husband";
		transform: translateY(8.1rem);
		opacity: 0;
	}
	55% {
		content: "A Father";
		transform: translateY(-8.1rem);
		opacity: 0;
	}
	60% {
		content: "A Father";
		transform: none;
		opacity: 1;
	}
	65% {
		content: "A Father";
		transform: none;
		opacity: 1;
	}
	70% {
		content: "A Father";
		transform: translateY(8.1rem);
		opacity: 0;
	}

	75% {
		content: "Paul Munley";
		transform: translateY(-8.1rem);
		opacity: 0;
	}
	80% {
		content: "Paul Munley";
		transform: none;
		opacity: 1;
	}

	100% {
		content: "Paul Munley";
		transform: none;
		opacity: 1;
	}
}
